/*---------- Haut de page ----------*/

body
{
	font-family: alef;
	text-align: center;
	font-size: 20px;
	
	background-image: url('images/connect4/bg.png');
	background-size: cover;
	text-align: center;
	color: #ffffff;
	-webkit-text-stroke-width: 0.75px;
	-webkit-text-stroke-color: #000000;
	
	background-color: #aaaaaa;
	font-family: alef;
}

h1
{
	font-size: 34px;
}

#connect4title
{
	background-color: #ffffff;
}

a
{
	text-decoration: none; /* Enlever le texte souligné des textes cliquables*/
}

h2
{
	font-size: 30px;
	width: 400px; /* Voir #clickable avant : Utilisé 2 fois car il n'y a pas tout dans la barre de navigation qui est cliquable*/
	text-align: left;
	border: 1px solid #ffffff;
}

#clickable /* Pages où on peut se rendre */
{
	display: block; /* Créer un rectangle cliquable */
	width: 400px; /* Taille du rectangle */
	background-color: #cccccc;
}

#clickable:hover /* Comment est affiché le texte cliquable lorsque la souris est dessus */
{
	color: #ff7500;
	background-color: #ffff00;
}

#already /* Page où on est déjà */
{
	color: #0000ff;
	background-color: #757575;
}

/*---------- Milieu de page ----------*/

#turned
{
	font-size: 32px;
}

table
{
	margin-left: auto; /* La marge est automatiquement ajusté*/
	margin-right: auto;
	background-color: #0000ff;
	width: 75px;
	/*max-width: 75px*/
}

img
{
	width: 75px;
	/*max-width: 750px*/
}

#display /* Petites icones */
{
	text-align: center;
	width: 10px;
}

input
{
	text-align: center;
}

/*---------- Bas de page ----------*/

#footer
{
	font-size: 40px;
	color: #5000ff;
	-webkit-text-stroke-width: 1.0px;
	-webkit-text-stroke-color: #ffffff;
}