/*---------- Haut de page ----------*/

body /* Utilisé pour toutes les balises qui sont dans le body, sauf si on change leur CSS en dessous*/
{
	background-image: url('images/home/bg.jpg'); /* Image d'arrière plan */
	background-size: cover; /* Taille Image = Taille Page*/
	text-align: center; /* Position du texte // Centrer le texte */
	-webkit-text-stroke-width: 0.75px; /* Epaisseur des contours du texte */
	-webkit-text-stroke-color: #000000; /* Couleur des contours | #000000 = Noir*/
	color: #ffffff; /* Couleur du texte | #ffffff = Blanc*/
	
	font-family: alef; /*Police d'écriture*/
}

h1 /* Il y a qu'une balise h1 */
{
	background-color: #505050; /* Couleur d'arrière plan du texte */
	font-size: 34px; /* Taille du texte */
}

#logo
{
	width: 250px; /* Taile du logo */
	border: 1px solid #000000; /* Border = Bord, "solid" car il y a plusieurs types de bords comme les pointillés*/
	float: right; /* Position de l'image*/
}



a
{
	text-decoration: none; /* Enlever le texte souligné des textes cliquables*/
}

h2
{
	font-size: 30px;
	width: 400px; /* Voir #clickable avant : Utilisé 2 fois car il n'y a pas tout dans la barre de navigation qui est cliquable*/
	text-align: left;
	border: 1px solid #ffffff;
}

#clickable /* Pages où on peut se rendre */
{
	display: block; /* Créer un rectangle cliquable */
	width: 400px; /* Taille du rectangle */
	background-color: #cccccc;
}

#clickable:hover /* Comment est affiché le texte cliquable lorsque la souris est dessus */
{
	color: #ff7500;
	background-color: #ffff00;
}

#already /* Page actuelle */
{
	color: #0000ff;
	background-color: #757575;
}

/*---------- Milieu de page ----------*/

p
{
	font-size: 30px;
	-webkit-text-stroke-width: 0.25px;
	color: #000000;
	-webkit-text-stroke-color: #ffffff;
}

#desctitle /* Texte où le nom des jeux est écrit*/
{
	color: #ffaa00;
}

#description /* Description en dessous de #desctitle*/
{
	font-size: 20px;
	color: #ffffff;
	-webkit-text-stroke-width: 0.5px;
	-webkit-text-stroke-color: #000000;
}

#show /* Images en description */
{
	width: 333px;
	border: 1px solid #ffffff;
}

/*---------- Bas de page ----------*/

#footer
{
	font-size: 40px;
	color: #5000ff;
	-webkit-text-stroke-width: 1.0px;
	-webkit-text-stroke-color: #ffffff;
}