/*---------- Haut de page ----------*/

body /* Casiment les mêmes choses, pas mis dans l'ordre + quelques petites modifications */
{
	font-family: alef;
	text-align: center;
	font-size: 20px;
	
	
	background-image: url('images/morpion/bg.jpg');
	background-size: cover;
	text-align: center;
	color: #ffffff;
	-webkit-text-stroke-width: 0.75px;
	-webkit-text-stroke-color: #000000;
	
	background-color: #aaaaaa;
	font-family: alef;
}

h1 /* Self Note - Il y a plusieurs balises h1 */
{
	font-size: 34px;
}

#morpiontitle
{
	background-color: #000050;
}



a
{
	text-decoration: none; /* Enlever le texte souligné des textes cliquables*/
}

h2
{
	font-size: 30px;
	width: 400px; /* Voir #clickable avant : Utilisé 2 fois car il n'y a pas tout dans la barre de navigation qui est cliquable*/
	text-align: left;
	border: 1px solid #ffffff;
}

#clickable /* Pages où on peut se rendre */
{
	display: block; /* Créer un rectangle cliquable */
	width: 400px; /* Taille du rectangle */
	background-color: #cccccc;
}

#clickable:hover /* Comment est affiché le texte cliquable lorsque la souris est dessus */
{
	color: #ff7500;
	background-color: #ffff00;
}

#already /* Page où on est déjà */
{
	color: #0000ff;
	background-color: #757575;
}

/*---------- Milieu de page ----------*/

#turned
{
	font-size: 30px;
}

button
{
	text-align: center;
	width: 100px;
	height: 100px;
	margin: 5px; /* Marge : Taille d'écartement des boutons*/
	font-family: alef;
	font-size: 20px;
}

input
{
	text-align: center;
}

/*---------- Bas de page ----------*/

#footer
{
	font-size: 40px;
	color: #5000ff;
	-webkit-text-stroke-width: 1.0px;
	-webkit-text-stroke-color: #ffffff;
}