/*---------- Haut de page ----------*/

body 
{
	font-family: alef;
	text-align: center;
	font-size: 20px;
	
	
	background-image: url('images/rps/bg.png');
	background-size: cover;
	text-align: center;
	color: #ffffff;
	-webkit-text-stroke-width: 0.75px;
	-webkit-text-stroke-color: #000000;
	
	background-color: #aaaaaa;
	font-family: alef;
}

h1
{
	font-size: 34px;
}

#rpstitle
{
	background-color: #252525;
}



a
{
	text-decoration: none; /* Enlever le texte souligné des textes cliquables*/
}

h2
{
	font-size: 30px;
	width: 400px; /* Voir #clickable avant : Utilisé 2 fois car il n'y a pas tout dans la barre de navigation qui est cliquable*/
	text-align: left;
	border: 1px solid #ffffff;
}

#clickable /* Pages où on peut se rendre */
{
	display: block; /* Créer un rectangle cliquable */
	width: 400px; /* Taille du rectangle */
	background-color: #cccccc;
}

#clickable:hover /* Comment est affiché le texte cliquable lorsque la souris est dessus */
{
	color: #ff7500;
	background-color: #ffff00;
}

#already /* Page où on est déjà */
{
	color: #0000ff;
	background-color: #757575;
}

/*---------- Milieu de page ----------*/

#rpsinstruction
{
	color: #aaaaaa;
}

#waitp1
{
	color: #00aaff;
}

#waitp2
{
	color: #ff0000;
}

#choosingP1
{
	width: 200px; /* Taille image des choix */
}

#choosingP2
{
	width: 200px;
	transform: scaleX(-1); /* Transform : Translater (Translation Maths), Rotationner, ect... || scaleX(-1) = Effet mirroir, retourner l'image horizontalement*/
}

input
{
	text-align: center;
}

/*---------- Bas de page ----------*/

#footer
{
	font-size: 40px;
	color: #5000ff;
	-webkit-text-stroke-width: 1.0px;
	-webkit-text-stroke-color: #ffffff;
}